// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 10px;
}
tbody {
  border: 1px solid;
  border-color: rgb(209, 207, 207);
}
tbody tr {
  border: 1px solid;
  border-color: rgb(209, 207, 207);
}
tbody tr td {
  overflow: hidden;
}
.task_index {
  table-layout: fixed;
  width: 100%;
}
.create {
  margin: 20px 0;
  background-color: khaki;
}
.detail {
  background-color: rgb(141, 220, 252);
}
.edit {
  background-color: rgb(20, 182, 247);
}
.delete {
  background-color: rgb(47, 144, 255);
}